.dashboard-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 500px; /* Adjust this value to your liking */
}

.search-form {
  display: flex;
  align-items: center;
}

.weather-details {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the 200px to fit your content */
  gap: 10px;
}

.search-form input {
  width: 300px; /* Adjust this value to your liking */
  height: 40px; /* Adjust this value to your liking */
  margin-right: 50px; /* Adjust this value to your liking */
}

.search-form button {
  width: 200px; /* Adjust this value to your liking */
  height: 30px; /* Adjust this value to your liking */
}