.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
}

.ReactModal__Content {
  position: relative;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  width: 50%;
  max-width: 500px;
  box-sizing: border-box;
}

.ReactModal__Content h2 {
  margin-top: 0;
}

.ReactModal__Content form {
  display: flex;
  flex-direction: column;
}

.ReactModal__Content form label {
  display: block;
  margin-bottom: 10px;
}

.ReactModal__Content form input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.ReactModal__Content form button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.ReactModal__Content button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.button-group button {
  flex-grow: 1;
  margin: 0 10px;
}