* {
  box-sizing: border-box;
}

.card-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 10px;
  padding: 10px;
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.7) transparent;
}

.card-container::-webkit-scrollbar {
  height: 8px;
}

.card-container::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.7);
  border-radius: 4px;
}

.card {
  flex: 0 0 auto;
  outline: 3px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin: 5px;
  width: 30%;
  box-sizing: border-box;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card div {
  padding: 16px;
}

.card h2 {
  margin-bottom: 8px;
  font-size: 1.5rem;
  color: #333;
}

.card p {
  margin-bottom: 12px;
}

.api-container {
  border-radius: 8px;
  }

.api-container-news{
  margin-bottom: 30px;
  background-color: #abd1c6;
  border-radius: 4px;
}

.api-container-music{
  margin-bottom: 30px;
  background-color: #078080;
  border-radius: 4px;
}

.api-container-movies{
  margin-bottom: 30px;
  background-color: #ff8e3c;
  border-radius: 4px;
}

.api-container-food{
  margin-bottom: 30px;
  background-color: #fff5e1;
  border-radius: 4px;
}

.api-container h2 {
  margin-bottom: 2px; 
}

.card-container-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

@media (max-width: 768px) {
  .card-container, .card-container-wrap {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
    margin: 10px auto;
  }

  .card img {
    height: 150px;
  }

  .card h2 {
    font-size: 1.2rem;
  }

  .api-container-news,
  .api-container-music,
  .api-container-movies,
  .api-container-food {
    margin-bottom: 20px;
  }
}