.todo-list {
  background-color: hsl(33, 71%, 77%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 37px;
  padding-right: 106px;
}

.input-field {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-input {
  width: 50%;
  padding: 7px;
  margin: 0 10px 10px;
  border: 1px solid hsl(228, 67%, 41%);
  border-radius: 5px;
  font-size: 12px;
}

.add-button {
  padding: 7px 20px;
  background-color: #4CAF50; /* Green */
  border: 2px  hsl(228, 67%, 41%);
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0 10px 10px;
  cursor: pointer;
  border-radius: 4px;
}


.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-group {
  display: flex;
}

.edit-button {
  padding: 2px 6px;
  background-color: #FFA500; /* Orange */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
.progress-button {
  padding: 2px 6px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.completed-button {
  padding: 2px 6px;
  background-color: #008CBA; /* Blue */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.columns {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  margin: 0 10px 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.todo-column {
  background-color: #d56e6e;
}

.in-progress-column {
  background-color: #fcf6bd;
}

.completed-column {
  background-color: #d4edda;
}